node_modules
.DS_Store
.bun-build
*.bun-build
bin/docs-list
dist
dist-ssr
!packages/schema/dist
!packages/schema/dist/**
*.local
.vercel
count.txt
.env
.nitro
.tanstack
.wrangler
.output
.vinxi
todos.json
.cta.json
.vscode
.env*.local
coverage
playwright-report
test-results
.playwright
